extends layout

block content
    .row
        .col-12.col-md-12
            .container
                .row
                .col
                    h1.text-center Weather and Flights
                    form(action='arrivals', method='POST')
                        select(name='selectedAirport')
                            each airport in airports
                                option(value=airport) #{airport}
                        input(type='submit', value='Submit')
                    //- p #{selectedAirport}
                    p #{message}

                .row
                    .col-md-6
                        .table-responsive
                        table.table.table-sm.table-hover
                            thead
                                tr
                                    th Callsign
                                    th Departure
                                    th Arrival
                            tbody
                                each client in clients
                                    tr
                                        td #{client.callsign}
                                        td #{client.planned_depairport}
                                        td #{client.planned_destairport}
                    .col-md-6
                        h1.text-center Current Weather at #{selectedAirport}
                        h3.text Summary: Cloudy
                        h3.text Temperature: 60ยบ
                        h3.text Apparent Temperature: 57.43ยบ
                        h3.text Precipitation Probability: 30%
                        h3.text Wind Speed: 15 Mph
                        h3.text Wind Gust: 30 Mph



